.d-grid.gap-2.text-center
  p(style="color:white; font-size:20px;padding:10px") Do you want to Delete 
  a.btn.btn-light(type='button', href="/admin/pages",style="background:gray;border:none") Back
  button.btn.btn-primary#dels(type='button',onclick="deletePage") Delete
